---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardProduct from "../../components/ui/CardProduct.astro";
import Button from "../../components/ui/Button.astro";
import { services } from "../../data-list";
---

<BaseLayout title="Productos">
  <h1>Servicios</h1>
  <section>
    {
      services.map((product, index) => (
        <CardProduct key={index} imagePath={product?.imagePath} imageAlt={product.imageAlt} />
      ))
    }
  </section>
  <section>
    <a href="/contact">
      <Button type="tertiary">Cotizar Servicio</Button>
    </a>
  </section>
</BaseLayout>