---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../sections/CTA.astro";
import Services from "../sections/Services.astro";
import ServiceChannels from "../sections/ServiceChannels.astro";
import HowToWork from "../sections/HowToWork.astro";

import { services } from "../data-list/services";
---

<BaseLayout>
  <div class="banner-wrapper">
    <img
      src="/images/principal-banner.webp"
      alt="Banner proyectores Servitec"
    />
  </div>

  <Services items={services}/>

  <ServiceChannels/>

  <HowToWork/>

  <CTA/>
</BaseLayout>
