---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Mensaje exitoso">
  <section class="success">
    <div class="success__img">
      <img src="/images/image-contact.webp" alt="contacto exitoso" />
    </div>
    <div class="success__text">
      <h2 class="success__text-title">Mensaje enviado exitosamente</h2>
      <p class="success__text-description">
        Nos comunicaremos en breve con usted
      </p>
    </div>
  </section>
  <div class="success-btn">
    <a href="/">Regresar a inicio</a>
  </div>
</BaseLayout>