---
import CardProduct from "../ui/CardProduct.astro";
import { services } from "../../data-list";
---

<section>
  <div class="wrapper-title">
    <h2 class="color__primary">Algunos de nuestro servicios</h2>
  </div>
  <div class="card-list">
    {
      services.map((product, index) => (
        <CardProduct key={index} imagePath={product.imagePath} />
      ))
    }
  </div>
</section>

<style lang="scss">
  section {
    .wrapper-title {
      width: 70%;
      margin: auto;
      @media (max-width: 576px) {
        width: 97%;
      }

      h2 {
        text-align: center;
        font-size: 2em;
        line-height: 1;
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 1em;
        @media (min-width: 920px) {
          font-size: 3.5em;
        }
      }
    }

    .card-list {
      margin: auto;
      width: 100%;
      max-width: 1280px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 1em;
      justify-content: center;
      padding: 1em;
    }
  }
</style>
