---

---

<section class="filter">
  <section class="options-filter">
    <h2 class="options-filter__title">¿Cómo quieres buscar tus neumáticos?</h2>
    <div class="options-filter__btns">
      <button class="options-filter__btn options-filter__btn--active">
        Por vehículo
      </button>
      <button class="options-filter__btn"> Por medida de neumático</button>
    </div>
  </section>
  <section class="section-filter">
    <div class="section-filter__fields">
      <div>
        <label for="">Marca *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Modelo *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Año *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Versión *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Medida neumático *</label>
        <input class="section-filter__input" type="text" />
      </div>
    </div>
    <button class="section-filter__btn">Buscar</button>
  </section>
</section>