---

---

<section>
  <h1>Reparacion y venta de proyectores</h1>
  <div class="seo-section">
    <div class="seo-section-img">
      <img src="./images/about-us-banner.webp" alt="sobre nosotros" />
    </div>
    <div class="seo-section-text">
      <p>
        ¿Necesitas reparar o comprar un proyector?. Ofrecemos una amplia gama de
        proyectores nuevos y reacondicionados, así como repuestos de alta
        calidad. Nuestro equipo de expertos está listo para ayudarte a encontrar
        la solución perfecta para tus necesidades de proyección. ¡Haz que tus
        presentaciones y eventos brillen como nunca!
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    width: 100%;

    @media (min-width: 1024px) {
      padding: 0 5em;
    }

    h1 {
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      font-style: italic;
      color: #fff000;
      margin-bottom: 1rem;
      @media (min-width: 920px) {
        font-size: 3.5em;
      }
    }

    .seo-section {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2em;
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      .seo-section-img {
        img {
          width: 100%;
          height: auto;
          border-radius: 1em;
          object-fit: cover;
        }
      }

      .seo-section-text {
        text-align: center;
        font-size: 1em;
        @media (min-width: 920px) {
          text-align: left;
          font-size: 1.2em;
        }
      }
    }
  }
</style>
