.form-container {
  padding: 2em;

  h1 {
    text-align: center;
    color: white;
    font-size: 1.7em;
  }

  .item-wrapper {
    display: flex;
    flex-direction: column;


    label {
      color: white;
      font-size: 0.8em;
      margin-bottom: 0.2em;
      text-align: left;
    }

    input{
      margin-top: 0.5em;
      width: 100%;
      border-radius: 0.5em;
      font-size: 1.1em;
      padding: 0.6em;
      border-color: transparent;
      outline: none;
      transition: border-color 0.5s ease;

    }
    textarea{
      margin-top: 0.5em;
      width: 100%;
      border-radius: 0.5em;
      font-size: 1.1em;
      padding: 1.5em;
      border-color: transparent;
      outline: none;
      transition: border-color 0.5s ease;


    }

    input:focus,
    textarea:focus {
      border-color: #fff000;
      border-width: 2px;
    }
  }

  button {
    margin: 1em auto;
    font-size: 1.2em;
    text-transform: upperCase;
    font-style: italic;
    background-color: #fff000;
    color: #000;
    padding: 1em;
    border-radius: 7em;
    width: 100%;
    border-color: transparent;
    cursor: pointer;
  }
}
