---

---

<section class="about-us">
  <div class="about-us__img">
    <img src="/images/about-us-banner.webp" alt="Sobre nosotros" />
  </div>
  <div class="about-us__text">
    <h2 class="about-us__text-title">Sobre nosotros</h2>
    <p class="about-us__text-description">
      Nos dedicamos a transformar la manera en que experimentas el
      entretenimiento y las presentaciones visuales. Desde nuestros comienzos,
      hemos tenido una misión clara: proporcionar soluciones de proyección de
      alta calidad que se adapten a las necesidades de nuestros clientes, ya
      sea en el hogar, la oficina, o cualquier otro entorno.
    </p>
  </div>
</section>