---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import { ButtonFloating } from "../components";

interface Props {
  title?: string;
  googleTags?: boolean;
}

const { title = "Proyectores Servitec", googleTags } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="description"
      content="Reparacion y mantenimiento de proyectores"
    />
    <meta
      name="keywords"
      content="reparacion, mantenimiento, proyectores, lamparas"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-465592700"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-465592700");
    </script>

    <!-- Event snippet for CLIC EN WHATSAPP conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
      function gtag_report_conversion(url) {
        var callback = function () {
          if (typeof url != "undefined") {
            window.location = url;
          }
        };
        gtag("event", "conversion", {
          send_to: "AW-465592700/-DMaCKiwy4IYEPzCgd4B",
          event_callback: callback,
        });
        return false;
      }
    </script>

    {googleTags && (
      // Event snippet for Enviar formulario de clientes potenciales conversion page
      <script>
        gtag("event", "conversion", {
        send_to: "AW-465592700/63EECKX0mfcBEPzCgd4B",
        });
      </script>
    )}
  </head>
  <body>
    <div class="general-wrapper">
      <Header />
      <div class="main">
        <slot />
      </div>
      <ButtonFloating />
      <Footer />
    </div>
    <style is:global lang="scss">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-family: system-ui, sans-serif;
        background: rgb(5, 5, 5);
        color: #fff;
      }

      body {
        margin: 0;
        font-size: 16px;
        overflow-x: hidden;
      }

      .general-wrapper {
        max-width: 1530px;
        margin: auto;
        position: relative;
        background: #13151a;
      }

      .main {
        width: 100%;
        height: auto;
      }

      .color {
        &__primary {
          color: #fff000;
        }

        &__secondary {
          color: #0c0c0ccc;
        }

        &__white {
          color: #fff;
        }

        &__black {
          color: #000;
        }
      }
    </style>
  </body>
</html>
