---
import Icon from "astro-icon";
---

<header id="header-item" class="header-relative">
  <div class="img-logo">
    <a href="/" rel="noreferrer"
      ><img src="/images/logo.webp" alt="Logo proyectores Servitec" /></a
    >
  </div>
  <div class="item-menu">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/src/pages/about">Nosotros</a></li>
      <li><a href="/services">Services</a></li>
      <li>
        <a href="/contact" class="anchor-icon">
          <Icon pack="mdi" name="phone" size={19} />
          <span>Contacto</span>
        </a>
      </li>
    </ul>
  </div>
</header>
