---
import Icon from "astro-icon";
---

<div>
  <a
    href="https://api.whatsapp.com/send?phone=51941801827&text=Estoy%20Interesado%20en%20la%20reparaci%C3%B3n%20y%20venta%20de%20proyectores"
    target="_blank"
    rel="noreferrer"
  >
    <button>
      <div class="item-icon">
        <Icon pack="mdi" name="whatsapp" size={40} />
      </div>
      <div class="item-text">
        <div>Servicio Whatsapp</div>
        <div>941 801 827</div>
      </div>
    </button>
  </a>
</div>
