---
interface Props {
  type?: "primary" | "secondary" | "tertiary";
  styleLine?: Record<string, string>;
}

const { type = "primary", styleLine } = Astro.props;
---

<button class={type} style={styleLine}>
  <slot />
</button>